
.wrapper-style-1 {
  vertical-align: baseline;
  max-width: 750px;
  margin: auto;
  padding: 20px;
}

.wrapper-style-2 {
  vertical-align: baseline;
  max-width: 750px;
  margin: auto;
  padding: 20px;
}

.img1, .img2 {
  max-width: 25%;
  height: auto;
  width: auto;
  float: left;
  margin-right:15px;
}


