#bubble {
	max-width: 650px;
	margin: 35px auto;
}

#donut {
	max-width: 380px;
	margin: 35px auto;
	padding: 0;
}

#line-column-area {
	max-width: 650px;
	margin: 35px auto;
}

#welcome {
	background-color: lightblue;
	text-align: center;
	padding: 50px;
	border-radius: 100px;
	font-size: 40px;
}

.info-box {
	background-color: lightpink;
	margin: 40px;
	padding: 50px;
	border-radius: 100px;
}

#calendar {
	padding: 50px;
	
}

button {
	border-radius: 81% 19% 73% 27% / 69% 30% 70% 31%;
}