#bubble {
  max-width: 650px;
  margin: 35px auto;
}

#donut {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

#line-column-area {
  max-width: 650px;
  margin: 35px auto;
}

#mood-text-area {
  max-height: 40vh;
}
#dist-text-area {
  max-height: 40vh;
}

.welcome {
  background-color: #ffba5a;
  border-radius: 5px 20px 5px;
  height: 8vh;
}

.sub-heading {
  background-color: #ffba5a;
  border-radius: 5px 20px 5px;
  height: 10vh;
  padding: 1em;
}

.date-box {
  background-color: #ffba5a;
  border-radius: 5px 20px 5px;
  height: 12vh;
}
.time-box {
  background-color: #ffba5a;
  border-radius: 5px 20px 5px;
  height: 12vh;
  width: 20vh;
}

/* #catchThought {
  max-width: 100%;
  height: auto;
} */
.info-box {
  padding: 1.5em;
  margin: 0em 0em 2em 0em;
  background-color: #ced2e8;
  border-radius: 5px 20px 5px;
}

.btn-outline-back {
  background-color: #ced2e8;
  border: 1px solid #74788c;
  color: #74788c;
}

.btn-outline-back:active,
.btn-outline-back:focus,
.btn-outline-back:hover {
  background-color: #74788c;
  border: #74788c 1px solid;
  color: white;
  box-shadow: none;
}

.btn-outline-next {
  background-color: #ced2e8;
  border: 1px solid #261943;
  color: #261943;
}

.btn-outline-next:active,
.btn-outline-next:focus,
.btn-outline-next:hover {
  background-color: #261943;
  border: #261943 1px solid;
  color: white;
  box-shadow: none;
}
/* .btn-outline-select,
.btn-outline-select:focus {
  background-color: #ced2e8 !important;
  border: 1px solid #261943 !important;
  color: #261943 !important;
}

.btn-outline-select:active,
.btn-outline-select:hover {
  background: #261943 !important;
  border: 1px solid #261943 !important;
  color: white !important;
} */

/* select option:checked {
  background: #261943 !important;
  border: 1px solid #261943 !important;
  color: white !important;
} */

/* .btn-outline-select:checked {
  color: #261943 !important;
} */

.btn-simple {
  background-color: #faf9f9;
  color: orange;
  font-weight: bold;
}

.btn-simple:active,
.btn-simple:focus {
  background-color: #faf9f9 !important;
  box-shadow: none;
  color: orange !important;
  font-weight: bold;
}

.btn-simple:hover {
  background-color: #faf9f9 none;
  box-shadow: none;
  color: #343350 !important;
  font-weight: bold;
  text-decoration: underline;
}

.btn-shape {
  background-color: orange;
  color: #581774 !important;
}

.btn-shape:active,
.btn-shape:focus {
  background-color: #343350 !important;
  box-shadow: none;
  color: #581774 !important;
}

.btn-shape:hover {
  background-color: #343350;
  box-shadow: none;
  color: orange !important;
  font-weight: bold;
  text-decoration: underline;
}

#calendar {
  padding: 50px;
}
