#bubble {
  max-width: 650px;
  margin: 35px auto;
}

#donut {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

#line-column-area {
  max-width: 650px;
  margin: 35px auto;
}

#welcome {
  background-color: #ffba5a;
  border-radius: 5px 20px 5px;
  height: 70px;
  padding: 1rem;
}

.info-box {
  margin-top: 40px;
  padding: 30px;
  border: 3px solid;
  border-color: #ced2e8;
  background-color: #f7f9ff;
  border-radius: 5px 20px 5px;
  height: 400px;
  width: 400px;
}

.btn-default {
  background-color: #6c2988;
  border: 2px solid #ffba5a;
  color: #ffba5a;
}

.btn-default:active,
.btn-default:focus {
  background-color: #581774 !important;
  border: 2px solid #ffba5a !important;
  box-shadow: none;

  color: #ffba5a !important;
}

.btn-default:hover {
  background-color: #581774 !important;
  border: 2px solid #ffba5a !important;
  box-shadow: none;
  color: #ffba5a !important;
}

.btn-simple {
  background-color: #faf9f9;
  color: orange;
  font-weight: bold;
}

.btn-simple:active,
.btn-simple:focus {
  background-color: #faf9f9 !important;
  box-shadow: none;
  color: orange !important;
  font-weight: bold;
}

.btn-simple:hover {
  background-color: #faf9f9 none;
  box-shadow: none;
  color: orange !important;
  font-weight: bold;
  text-decoration: underline;
}

.btn-shape {
  background-color: orange;
  color: #581774 !important;
}

.btn-shape:active,
.btn-shape:focus {
  background-color: #343350 !important;
  box-shadow: none;
  color: #581774 !important;
}

.btn-shape:hover {
  background-color: #343350;
  box-shadow: none;
  color: #581774 !important;
  font-weight: bold;
  text-decoration: underline;
}

#calendar {
  padding: 50px;
}
