.App {
  color: #261943;
  font-family: "Titillium Web", sans-serif;
  background: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: left;
  background-color: #343350;
}
.dummyHeader {
  height: 70px;
}

.container-fluid {
  background-color: #faf9f9;
  border-radius: 53px 53px 53px 53px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
}

.nav-links {
  font-size: 1rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar-brand {
  font-weight: bold;
  margin-left: 40px;
}

.navbar {
  background-color: #343350;
}

/* .homeRow {
  margin-top: 5rem;
} */

.drop {
  width: 50%;
}

.loginHead {
  margin-top: 20px;
  text-align: center;
}

.loginCol {
  position: relative;
}

.loginForm {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnLogin {
  border-radius: 81% 19% 73% 27% / 69% 30% 70% 31%;
  width: 70%;
}

.thoughtForm {
  justify-self: center;
}

#textArea {
  border-radius: 5px 20px 5px;
}

.box {
  border-radius: 5px 20px 5px;
  margin: 5px;
}

#catchThought {
  width: 90%;
  height: auto;
}
