.App {
  color: #261943;
  font-family: "Titillium Web", sans-serif;
  background: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100%;
  padding-top: 1rem;
  text-align: left;
  background-color: #343350;
}

body {
  height: 100vh;
  overflow: hidden;
}

li {
  list-style: none;
  margin: 1em 0em;
}

label {
  font-size: medium;
}

.custom-select:focus {
  border-color: #ced2e8;
  box-shadow: 0px 0px 2px #ced2e8 !important;
}

.dummyHeader {
  height: 70px;
}

.container-fluid {
  background-color: #faf9f9;
  border-radius: 53px 53px 53px 53px;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto;
  height: 80vh;
  overflow: auto;
  overflow-y: scroll;
}

.nav-links {
  font-size: 1rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: medium;
}

.navbar-brand {
  font-weight: bold;
  margin-left: 40px;
  font-size: x-large;
}

.navbar {
  background-color: #343350;
}

.home-row {
  margin: 3em;
}

.drop {
  width: 50%;
}

.headers {
  font-size: 1.75rem;
  margin: 1em 0em;
}

.loginForm {
  padding: 1rem;
}

.btnLogin {
  border-radius: 81% 19% 73% 27% / 69% 30% 70% 31%;
  width: 70%;
}

.thoughtForm {
  justify-self: center;
}

#textArea {
  border-radius: 5px 20px 5px;
}

.box {
  border-radius: 5px 20px 5px;
  margin: 5px;
}

#catchThought {
  width: 90%;
  height: auto;
}

.btn-row-next {
  position: absolute;
  bottom: 1.5em;
  right: 1.75em;
}
.btn-row-back {
  position: absolute;
  bottom: 1.5em;
  left: 1.75em;
}

.multiStep {
  background-color: #ced2e8;
  border-radius: 5px 20px 5px;
  padding: 2em;
  height: 55vh;
  overflow: auto;
  overflow-y: scroll;
  position: relative;
}

.list-weight {
  font-size: small;
  padding-left: 0;
}

.btnRow {
  height: 100vh;
}
