.App {
  color: #261943;
  font-family: "Titillium Web", sans-serif;
  background: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100%;
  padding-top: 1rem;
  text-align: left;
  background-color: #343350;
}
.dummyHeader {
  height: 70px;
}

.container-fluid {
  background-color: #faf9f9;
  border-radius: 53px 53px 53px 53px;
  padding: 4rem;
  margin-right: auto;
  margin-left: auto;
}

.nav-links {
  font-size: 1rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar-brand {
  font-weight: bold;
  margin-left: 40px;
}

.navbar {
  background-color: #343350;
}

/* .homeRow {
  margin-top: 5rem;
} */

.drop {
  width: 50%;
}

.headers {
  font-size: 1.75rem;
  margin: 1em0em;
}

.loginForm {
  padding: 1rem;
}

.btnLogin {
  border-radius: 81% 19% 73% 27% / 69% 30% 70% 31%;
  width: 70%;
}

.thoughtForm {
  justify-self: center;
}

#textArea {
  border-radius: 5px 20px 5px;
}

.box {
  border-radius: 5px 20px 5px;
  margin: 5px;
}

#catchThought {
  width: 90%;
  height: auto;
}

.multiStep {
  background-color: #ced2e8;
  border-radius: 5px 20px 5px;
  padding: 30px 30px;
  height: 250px;
}
